.about-content {
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-body {
  padding: 2rem;
}

.mission-statement {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #555;
  font-style: italic;
  text-align: center;
}

.about-section {
  margin-bottom: 2rem;
}

.about-section h2 {
  color: var(--secondary-color, #0275d8);
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

.about-section p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #666;
}

.about-section ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.about-section li {
  margin-bottom: 0.5rem;
  line-height: 1.6;
  color: #666;
}
.family-section {
   text-align: center;
}
.family-photo-container {
   margin: 20px auto;
   max-width: 100%;
   text-align: center;
}
.family-photo {
   max-width: 100%;
   height: auto;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   margin-bottom: 10px;
}
.photo-caption {
   font-style: italic;
   color: #777;
   margin-top: 10px;
}

@media (max-width: 768px) {
  .about-body {
    padding: 1rem;
  }
   .family-photo {
     max-width: 100%;
   }
}
